/* ==========================================================================
トップ
========================================================================== */
#homepage{
	}
	#homepage #header{
		/* opacity: 0;
		animation: fadein 2s forwards;
		animation-delay: 2s; */
		display: block;
		}
	#homepage .innerpage-logo{
		display: none;
		}
	#homepage .toppage-logo{
		display: block;
		width: 343px;
		margin: 0 auto;
		padding: 30px 0 30px;
		}
		#homepage .toppage-linkmem{
			display: block;
			}
		#homepage .toppage-linkmem a{
			display: block;
			position: absolute;
			top: 15px;
			right:100px;
			width: 200px;
			background-color: #fff;
			text-align: center;
			text-decoration: none;
			color: #043d78;
			font-size: 14px;
			line-height: 30px;
			transition: 0.5s;
			}
			#homepage .toppage-linkmem a:hover{
				background-color: #335f8e;
				color: #fff;
				}
	#homepage #global{
		}
		#homepage .innerpage-linkmem{
			display: none !important;
			}
	#homepage #humbergar{
		position: absolute;
		top: 15px;
		right: 60px;
		}
		/*クローズボタン*/
		#homepage #humbergar-global #close-area{
			top: 13px;
			left: calc(100vw - 60px);
			}

#top-main{
	height: 100vh;
	min-height: 700px;
	position: relative;
	background-color: #eae9e4;
	}
	/*動画 比率*/
	#top-main #video-area{
		padding-top: 180px;
		text-align: center;
		position: relative;
		}
		#top-main #video-area #video,
		#top-main #video-area img{
			height: calc(100vh - 260px);
			min-height: 440px;
			width: auto;
			margin: 0 auto;
			}
	/*サウンドボタン*/
	#top-main #top-video-sound{
		position: absolute;
		bottom: 25px;
		left: calc(50% - (50vh - 130px) * 1920 / 1080 + 30px);
		cursor: pointer;
		}
		#top-main #top-video-sound #mute{
			display: none;
			}

	/*固定ニュース*/
	#top-main .news-firstview{
		position:absolute;
		bottom: 24px;
		right: calc(50% - (50vh - 130px) * 1920 / 1080);
		z-index: 5;
		}
		#top-main .news-firstview p{
			background-color: rgba(0,0,0,0.4);
			padding: 5px 20px 5px 40px;
			}
			#top-main .news-firstview p a{
				color: #fff;
				font-size: 16px;
				}
			#top-main .news-firstview p a:hover{
				text-decoration: none;
				}
		/*右のボーダー*/
		#top-main .link-border{
			display:block;
			width: 60px;
			position:absolute;
			top:18px;
			left: -40px;
			height: 1px;
			background-color: #fff;
			}
			#top-main a:hover .link-border{
				animation: lineamimeleft 1.4s ease-in-out infinite;
				}
			/*高さ・位置・透過が変化して線が右から左に動く*/
			@keyframes lineamimeleft{
				0%{
					width:0;
					left: -40px;
					opacity: 0;
				}
				30%{
					width:40px;
					opacity: 1;
				}
				100%{
					width:0;
					left: 20px;
					opacity: 0;
				}
			}

	/*小画面対応*/	
	@media screen and (max-width:1500px){
		#top-main .news-firstview p{
				background-color: rgba(0,0,0,0.4);
				padding: 5px 15px 5px 35px;
				}
			#top-main .news-firstview p a{
				font-size: 14px;
				}
		}
	
/*レイヤー10（フッタよりも上） トップニュース*/
#topnews-area{
	position: absolute;
	bottom: 30px;
	}
	#topnews-area *{
		font-size: 14px;
		}
		#topnews-area ul{
			width: 100vw;
			}
			#topnews-area li::before{
				content: 'News';
				color: #043d78;
				font-weight: 600;
				padding-right: 20px;
				}
			#topnews-area li{
				opacity: 0;
				left: calc(50% - (50vh - 125px) * 1920 / 1080 + 10px) !important;
				width: auto;
				}
				#topnews-area li a{
					color: #1c1c1c;
					}
					#topnews-area li a:hover{
						text-decoration: underline;
						}
				#topnews-area li span:first-child{
					padding-right: 10px;
					}
				#topnews-area li span.icn-new{
					white-space: nowrap;
					background-color: #813225;
					color: #fff;
					margin-left: 10px;
					font-size: 12px;
					padding: 2px 10px;
					}

/*キャッチ*/
#catch-area{
	background-color: #fff;
	display: flex;
	align-items: center;
	padding: 80px 0;
	}
	#catch-area .left-area{
		width: 50vw;
		}
		#catch-area .left-area img{
			width: 50vw;
			height: auto;
			}
	#catch-area .right-area{
		padding: 0 120px;
		}
		#catch-area .right-area h2{
			padding-top: 70px;
			padding-bottom: 50px;
			font-size: 24px;
			text-align: center;
			}
			#catch-area .right-area h2 span{
				display: block;
				font-size: 18px;
				}
		#catch-area .right-area p{
			padding-bottom: 50px;
			}
	#catch-area .btn-area{
		width: 300px;
		padding-bottom: 30px;
		} 

/*メインボタン*/
#homepage #toplink{
	display: flex;
	flex-wrap: wrap;
	}
	#homepage #toplink li{
		width: calc(100% / 3 );
		position: relative;
		}
		#homepage #toplink li a{
			display: block;
			height: 475px;
			background-size: cover;
			transition: 1s;
			}
			#homepage #toplink li a div{
				height: 475px;
				border: 0px solid rgba(255,255,255,0.3);
				box-sizing: border-box;
				transition: 1s;
				}
				#homepage #toplink li a:hover div{
					transition: 1s;
					border: 13px solid rgba(255,255,255,0.5);
					background-color: rgba(0,0,0,0) !important;
					}
			#homepage #toplink li a *{
				color: #fff;
				}
			#homepage #toplink li a p{
				border-bottom: solid 1px rgba(255,255,255,0.7);
				font-size: 30px;
				position: absolute;
				bottom: 70px;
				left: 50px;
				width: calc((100vw / 3 ) - 50px);
				}
				#homepage #toplink li a p span{
					font-size: 18px;
					padding-left: 20px;
					}
				#homepage #toplink li a p::after{
					content:'>';
					font-size: 24px;
					position: absolute;
					top: 10px;
					right: 50px;
					}
					#homepage #toplink li a:hover p::after{
						animation: arrow-anime 1s forwards;
						}
						@keyframes arrow-anime{
								0%{
									transform: translateX(0);
								}
								100%{
									transform: translateX(20px);
								}
							}

		/*各ボタンの背景*/
		#homepage #toplink li.li-course a{
			background-image: url(../images/bg-topbtn-course.jpg);
			background-position: top left;
			}
			#homepage #toplink li.li-course a div{
				background-color: rgba(0,0,0,0.4);
				}
		#homepage #toplink li.li-facility a{
			background-image: url(../images/bg-topbtn-facility.jpg);
			background-position: top left;
			}
			#homepage #toplink li.li-facility a div{
				background-color: rgba(0,0,0,0.4);
				}
		#homepage #toplink li.li-restaurant a{
			background-image: url(../images/bg-topbtn-restaurant.jpg);
			background-position: top -55px center;
			background-size: auto 600px;
			}
			#homepage #toplink li.li-restaurant a div{
				background-color: rgba(0,0,0,0.4);
				}
		#homepage #toplink li.li-guide a{
			background-image: url(../images/bg-topbtn-guide.jpg);
			background-position: top left;
			}
			#homepage #toplink li.li-guide a div{
				background-color: rgba(0,0,0,0.4);
				}
		#homepage #toplink li.li-dresscode a{
			background-image: url(../images/bg-topbtn-dresscode.jpg);
			background-position: top center;
			}
			#homepage #toplink li.li-dresscode a div{
				background-color: rgba(0,0,0,0.4);
				}
		#homepage #toplink li.li-reservation a{
			background-image: url(../images/bg-topbtn-reservation.jpg);
			background-position: top center;
			}
			#homepage #toplink li.li-reservation a div{
				background-color: rgba(0,0,0,0.4);
				}

/* ==========================================================================
新型コロナウイルス感染症への取り組み
========================================================================== */
#kansensho .slide-inn {
	width: 100%;
	height: 680px;
	background-color: #fff;
	text-align: center;
	position: relative;
	}
	#kansensho .slide-inn .texts{
		animation: fadein 2s forwards;
		}
		#kansensho .slide-inn h1 {
			font-size: 30px;
			line-height: 48px;
			padding-top: 50px;
			padding-bottom: 60px;
			animation: upslide 1s forwards;
			animation-delay: 2s;
			transform: translateY(150px);
			}
		#kansensho .slide-inn p.intro {
			font-size: 18px;
			line-height: 27px;
			font-size: 24px;
			animation: upslidefadeout 1s forwards;
			animation-delay: 2s;
			transform: translateY(150px);
			}
			@keyframes upslide{
				0% {
					transform: translateY(150px);
					}

				100% { 
					transform: translateY(0);
					}
				}
			@keyframes upslidefadeout{
				0% {
					transform: translateY(150px);
					}

				100% { 
					transform: translateY(0);
					opacity: 0;
					}
				}

	#kansensho .taisaku-slide {
		margin: -120px auto 0;
		width: 600px;
		text-align: center;
		opacity: 0;
		animation: fadein 1s forwards;
		animation-delay: 4s;
		}
		#kansensho .taisaku-slide img {
			width: 100%;
			}
		#kansensho .taisaku-slide p {
			font-size: 24px;
			padding-top: 30px;
			font-weight: 100;
			}
		.taisaku-slide .slick-next:before {
			content: url(../images/icn-arrow-r.png);
			display: inline-block;
			vertical-align: middle;
			margin-left: 75px;
			margin-top: -90px;
			}
		.taisaku-slide .slick-prev:before {
			content: url(../images/icn-arrow-l.png);
			display: inline-block;
			vertical-align: middle;
			margin-left: -150px;
			margin-top: -90px;
			}
		.taisaku-slide .slick-dots {
			display: none !important;
			}

/* 当倶楽部の主な取り組み */
#kansensho .taisaku-list {
	padding: 50px 20px;
	text-align: left;
	}
	#kansensho .taisaku-list h2 {
		font-size: 30px;
		line-height: 48px;
		padding: 20px 0;
		text-align: center;
		}
	.taisaku-list ul {
		max-width: 1200px;
		margin: 0 auto;
		padding-bottom: 50px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		}
		.taisaku-list ul li {
			width: calc(50% - 20px);
			}
		.taisaku-list ul li:last-child {
			margin-left: calc(25% + 8px);
			}
		.taisaku-list ul img {
			width: 585px;
			padding: 30px 0;
			}
		.taisaku-list ul li p {
			font-size: 18px;
			line-height: 27px;
			padding-bottom: 20px;
			}
	#kansensho .other {
		margin: 50px auto;
		display: flex;
		align-items: center;
		border: #ccc 3px solid;
		padding: 20px;
		}
		#kansensho .other .txt {
			padding-left: 40px;
			}
		#kansensho .other h3 {
			font-size: 24px;
			font-weight: 500;
			padding-bottom: 15px;
			text-align: left;
			}
		#kansensho .other p {
			font-size: 18px;
			}

	#kansensho .btn-area{
		width: 1200px
		}
		#kansensho .btn-area label{
			color:#043d78;
			}
		#kansensho .btn-area a:hover label{
			color: #fff;
			transition: 0.5s;
			}

/* ==========================================================================
クラブの歴史
========================================================================== */
#history #pagetitle-area{
	background-image: url(../images/bg-history.jpg);
	margin-bottom: 80px;
	}
	/*概要*/
	#history .outline-area{
		display: block !important;
		width: 900px;
		margin: 0 auto
		}
		#history .outline-area p{
			}
		#history .outline-area table{
			width: 100%;
			}
	
	#history h1{
		padding-bottom: 15px;
		}
	#history .contents-area{
		display: flex;
		padding-bottom: 80px;
		}
		#history .contents-area .left-area{
			width: calc(65% - 50px);
			padding-right: 50px;
			}
		/*サムネール */
		#history .contents-area .right-area{
			width: 35%;
			}
			#history .contents-area .right-area ul{
				display: flex;
				flex-wrap: wrap;
				}
				#history .contents-area .right-area li{
					width: 50%;
					}
					#history .contents-area .right-area .thumb-wide{
						width: 100%;
						}
					#history .contents-area .right-area img{
						width: 100%;
						}
					#history .contents-area .right-area li p{
						font-size: 14px;
						text-align: center;
						padding:5px 0 30px;
						}

/* ==========================================================================
コース紹介
========================================================================== */
#course #pagetitle-area{
	background-image: url(../images/bg-course.jpg);
	}
	/*コース全体図*/
	#course .ill-area{
		display: flex;
		margin-top: 80px;
		padding-bottom: 80px;
		}
		#course .ill-area .left-area{
			flex-grow: 1;
			}
			#course .ill-area .right-area{
				width: 657px;
				position: relative;
				}
		#course .ill-area p:nth-of-type(1){
			font-size: 24px;
			padding: 100px 0 80px 50px;
			}
		#course .ill-area p.btn-area{
			width: 300px;
			}
	
		/* ボタン設定 */
		#course .ill-area .right-area li a{
			display: block;
			position: absolute;
			height: 40px;
			width: 40px;
			border-radius: 50%;
			line-height: 40px;
			text-align: center;
			background-color: #eae9e4;
			color: #043d78;
			text-decoration: none;
			}
			/* ホバー時 */
			#course .ill-area .right-area li a:hover {
				transform: scale(1.2,1.2);
				background-color: rgba(255, 255, 255,1);
				z-index: 50;
				}
			/* ボタン場所 */
			#course .ill-area .right-area li:nth-of-type(1) a{
				top: 290px;
				left: 115px;
				}
				#course .ill-area .right-area li:nth-of-type(2) a{
					top: 120px;
					left: 60px;
					}
				#course .ill-area .right-area li:nth-of-type(3) a{
					top: 50px;
					left: 40px;
					}
				#course .ill-area .right-area li:nth-of-type(4) a{
					top: 40px;
					left: 130px;
					}
				#course .ill-area .right-area li:nth-of-type(5) a{
					top: 110px;
					left: 130px;
					}
				#course .ill-area .right-area li:nth-of-type(6) a{
					top: 245px;
					left: 130px;
					}
				#course .ill-area .right-area li:nth-of-type(7) a{
					top: 250px;
					left: 177px;
					}
				#course .ill-area .right-area li:nth-of-type(8) a{
					top: 133px;
					left: 167px;
					}
				#course .ill-area .right-area li:nth-of-type(9) a{
					top: 170px;
					left: 210px;
					}

		/* ボタン設定（INコース） */
		#course .ill-area .right-area li:nth-of-type(10) a,
		#course .ill-area .right-area li:nth-of-type(11) a,
		#course .ill-area .right-area li:nth-of-type(12) a,
		#course .ill-area .right-area li:nth-of-type(13) a,
		#course .ill-area .right-area li:nth-of-type(14) a,
		#course .ill-area .right-area li:nth-of-type(15) a,
		#course .ill-area .right-area li:nth-of-type(16) a,
		#course .ill-area .right-area li:nth-of-type(17) a,
		#course .ill-area .right-area li:nth-of-type(18) a{
			background-color: #335f8e;
			color: #fff;
			}
			/* ボタン場所 */
			#course .ill-area .right-area li:nth-of-type(10) a{
				top: 160px;
				left: 259px;
				}
				#course .ill-area .right-area li:nth-of-type(11) a{
					top: 63px;
					left: 325px;
					}
				#course .ill-area .right-area li:nth-of-type(12) a{
					top: 130px;
					left: 315px;
					}
				#course .ill-area .right-area li:nth-of-type(13) a{
					top: 110px;
					left: 435px;
					}
				#course .ill-area .right-area li:nth-of-type(14) a{
					top: 60px;
					left: 410px;
					}
				#course .ill-area .right-area li:nth-of-type(15) a{
					top: 30px;
					left: 475px;
					}
				#course .ill-area .right-area li:nth-of-type(16) a{
					top: 70px;
					left: 585px;
					}
				#course .ill-area .right-area li:nth-of-type(17) a{
					top: 130px;
					left: 495px;
					}
				#course .ill-area .right-area li:nth-of-type(18) a{
					top: 240px;
					left: 325px;
					}

	/*テーブル*/
	#course .scroll{
		margin-bottom: 50px;
		}
	#course .table-common tbody th{
		width: 80px;
		}
		#course .table-common td{
			text-align: center;
			}
	/*ヤード表*/
	.table-yard tbody td:nth-of-type(10){
		background-color: #f2f2f2;
		color: #335f8e;
		}
		.table-yard tbody td:nth-of-type(11){
			background-color: #e2e2e2;
			color: #335f8e;
			}


/* ==========================================================================
ホール詳細
========================================================================== */
#holes #pagetitle-area{
	background-image: url(../images/bg-hole.jpg);
	background-position: bottom -300px center;
	}
	
	/*ホール詳細情報*/
	#hole .swiper-container{
		overflow: hidden;
		}
		#hole .swiper-pointer-events:nth-of-type(2) {
			width: calc(100vw - 300px) !important;
			min-width: 1200px;
			}
		#hole .swiper-pointer-events:nth-of-type(2)  .swiper-slide{
			width: calc(100vw - 300px) !important;
			min-width: 1200px;
			}

	#hole .slide-hole{
		}
		#hole .slide-hole li{
			}
		/*背景およびホールタイトル・パー*/
		#hole .slide-hole li .upper-area{
			background-size: cover;
			width: calc(100vw - 500px);
			height: calc((100vw - 500px) * 0.347);
			min-width: 1200px;
			min-height: 416px;
			margin: 0 auto;
			}
			#hole .slide-hole li .upper-area .area-inn{
				height: calc((100vw - 500px) * 0.347);
				min-height: 416px;
				position: relative;
				background-color: rgba(0,0,0,0.3);
				}
			#hole .slide-hole li .upper-area *{
				color: #fff;
				}
				#hole .slide-hole li .upper-area .text-area{
					position: absolute;
					width: calc(100vw - 500px);
					min-width: 1200px;
					bottom: 20px;
					left:20px;
					}
				#hole .slide-hole li .upper-area .sbt-area{
					width: 800px;
					display: flex;
					align-items: center;
					border-bottom: solid 1px #fff;
					padding-bottom: 10px;
					margin-bottom: 10px;
					}
					#hole .slide-hole li .upper-area .sbt-area h3{
						flex-grow: 0;
						font-size: 36px;
						line-height: 1;
						margin-right: 20px;
						}
					#hole .slide-hole li .upper-area .sbt-area p{
						background-color: #813225;
						color: #fff;
						font-size: 24px;
						padding: 0 15px 0;
						margin-right: 2px !important;
						}

				/*ヤード*/
				#hole .slide-hole li .upper-area .yard-area{
					width: 800px;
					display: flex;
					}
					#hole .slide-hole li .upper-area .yard-area div{
						margin-right: 20px;
						font-size: 18px;
						}
				#hole .slide-hole li .upper-area .text-catch{
					width: 800px;
					font-size: 18px;
					}

		/*動画・スチール・イラスト*/
		#hole .slide-hole li .bottom-area{
			display: flex;
			flex-flow: row-reverse;
			width: calc(100vw - 500px);
			min-width: 1200px;
			margin: 0 auto;
			padding: 50px 0 ;
			}
			/*イラスト*/
			#hole .slide-hole li .bottom-area .right-area{
				width: calc((100vw - 500px) * 2 / 5 - 25px);
				min-width: 325px;
				background-color: #fff;
				margin-left: 50px;
				position: relative;
				}
				#hole .slide-hole li .bottom-area .right-area img{
					max-width: 200px;
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					max-height: 700px;
					}

			/*動画と画像*/
			#hole .slide-hole li .bottom-area .left-area{
				width: calc((100vw - 500px) * 3 / 5 - 25px);
				min-width: 825px;
				}
				#hole .slide-hole li .bottom-area .left-area video{
					width: calc((100vw - 500px) * 3 / 5 - 25px);
					min-width: 825px;
					}
				#hole .slide-hole li .bottom-area .left-area p{
					font-size: 18px;
					padding:0 0 30px 20px;
					}
				/*画像*/
				#hole .slide-hole li .bottom-area .img-area{
					display: flex;
					}
					#hole .slide-hole li .bottom-area .img-area a{
						display: block;
						margin-right: 5px;
						background-size: cover;
						}
						#hole .slide-hole li .bottom-area .img-area a:last-child{
							margin-right: 0;
							}
						#hole .slide-hole li .bottom-area .img-area a span{
							display: block;
							width: calc(((100vw - 500px) * 3 / 5 - 25px - 5px) / 2);
							height: calc((((100vw - 500px) * 3 / 5 - 25px - 5px) / 2) * 0.667);
							min-width: 410px;
							min-height: 273px;
							border: 0px solid rgba(255,255,255,0.3);
							background-color: rgba(0,0,0,0.2);
							box-sizing: border-box;
							transition: 1s;
							}
							#hole .slide-hole li .bottom-area .img-area a:hover span{
								border: 13px solid rgba(255,255,255,0.5);
								background-color: rgba(0,0,0,0) !important;
								}

	/*サムネール*/
	/*ie用サムネールタイトル*/
	.thumb-hole-title-ie{
		display: none;
		}
	#hole .swiper-area{
		width: calc(100vw - 500px) !important;
		min-width: 1200px;
		margin: 0 auto;
		}
	#hole .num-hole{
		padding: 30px 0 50px;
		}
		#hole .num-hole ol{
			counter-reset: count 0;
			display: flex;
			width: 100%;
			margin: 0 !important;
			}
			#hole .num-hole h3{
				min-width: 100px;
				line-height: 35px;
				text-align: center;
				background-color: #335f8e;
				color: #fff;
				font-size: 14px;
				}
				/*ieのみ*/
				@media all and (-ms-high-contrast: none) {
					.thumb-hole-title-ie{
						display: flex;
						}
						#hole .num-hole{
							padding-top: 0;
							}
							#hole .num-hole h3{
								width: 0;
								background-color: #fff;
								}
						.thumb-hole-title-ie h3{
							line-height: 35px;
							text-align: center;
							background-color: rgb(55,52,129);
							color: #fff !important;
							font-size: 14px;
							width: 100%;
							margin-right: 1px;
							}
							.thumb-hole-title-ie h3:last-child{
								margin-right: 0;
								}
				}

			#hole .num-hole li{
				list-style: none;
				flex-grow: 1;
				width: auto !important;
				padding: 0;
				}
				#hole .num-hole li:before {
					display: block;
					content: counter(count);
					counter-increment: count 1;
					line-height: 35px;
					text-align: center;
					margin-right: 1px;
					cursor: pointer;
					transition: 0.5s;
					position: relative;
					font-size: 14px;
					border: solid 1px #1c1c1c;
					}
					#hole .num-hole li:hover:before,
					#hole .num-hole li.swiper-slide-thumb-active:before {
						background-color: #dcdcdc;
						}
				#hole .num-hole li:nth-of-type(11){
					counter-reset: count 10;
					}
				#hole .num-hole li:nth-of-type(12){
					counter-reset: count 11;
					}
				#hole .num-hole li:nth-of-type(13){
					counter-reset: count 12;
					}
				#hole .num-hole li:nth-of-type(14){
					counter-reset: count 13;
					}
				#hole .num-hole li:nth-of-type(15){
					counter-reset: count 14;
					}
				#hole .num-hole li:nth-of-type(16){
					counter-reset: count 15;
					}
				#hole .num-hole li:nth-of-type(17){
					counter-reset: count 16;
					}
				#hole .num-hole li:nth-of-type(18){
					counter-reset: count 17;
					}
				#hole .num-hole li:nth-of-type(19){
					counter-reset: count 18;
					}
				

	/*矢印*/	
	#hole .swiper-button-prev,
	#hole .swiper-container-rtl .swiper-button-next {
		left: 40px !important;
		}
		#hole .swiper-button-next,
		#hole .swiper-container-rtl .swiper-button-prev {
			right: 40px !important;
			}
		/*小画面対応
		===============================================*/
		@media screen and (max-width:1350px){
			#hole .swiper-button-prev,
			#hole .swiper-container-rtl .swiper-button-next {
				left: 40px !important;
				top: 260px !important;
				}
				#hole .swiper-button-next,
				#hole .swiper-container-rtl .swiper-button-prev {
					right: 40px !important;
					top: 260px !important;
					}
				#hole .swiper-button-next, .swiper-button-prev {
					background-color: rgba(255,255,255,1);
					width: 40px !important;
					height: 135px !important;
					}
			}
	
	/*ホール毎の情報*/
	#hole .slide-hole .hole1 .upper-area{
		background-image: url(../images/bg-holes-main-h1.jpg);
		}
		#hole .slide-hole .hole1 .img-area a:nth-of-type(1){
			background-image: url(../images/img-hole1-1.jpg);
			}
		#hole .slide-hole .hole1 .img-area a:nth-of-type(2){
			background-image: url(../images/img-hole1-2.jpg);
			}
	#hole .slide-hole .hole2 .upper-area{
		background-image: url(../images/bg-holes-main-h2.jpg);
		}
		#hole .slide-hole .hole2 .img-area a:nth-of-type(1){
			background-image: url(../images/img-hole2-1.jpg);
			}
		#hole .slide-hole .hole2 .img-area a:nth-of-type(2){
			background-image: url(../images/img-hole2-2.jpg);
			}
	#hole .slide-hole .hole3 .upper-area{
		background-image: url(../images/bg-holes-main-h3.jpg);
		}
		#hole .slide-hole .hole3 .img-area a:nth-of-type(1){
			background-image: url(../images/img-hole3-1.jpg);
			}
		#hole .slide-hole .hole3 .img-area a:nth-of-type(2){
			background-image: url(../images/img-hole3-2.jpg);
			}
	#hole .slide-hole .hole4 .upper-area{
		background-image: url(../images/bg-holes-main-h4.jpg);
		}
		#hole .slide-hole .hole4 .img-area a:nth-of-type(1){
			background-image: url(../images/img-hole4-1.jpg);
			}
		#hole .slide-hole .hole4 .img-area a:nth-of-type(2){
			background-image: url(../images/img-hole4-2.jpg);
			}
	#hole .slide-hole .hole5 .upper-area{
		background-image: url(../images/bg-holes-main-h5.jpg);
		}
		#hole .slide-hole .hole5 .img-area a:nth-of-type(1){
			background-image: url(../images/img-hole5-1.jpg);
			}
		#hole .slide-hole .hole5 .img-area a:nth-of-type(2){
			background-image: url(../images/img-hole5-2.jpg);
			}
	#hole .slide-hole .hole6 .upper-area{
		background-image: url(../images/bg-holes-main-h6.jpg);
		}
		#hole .slide-hole .hole6 .img-area a:nth-of-type(1){
			background-image: url(../images/img-hole6-1.jpg);
			}
		#hole .slide-hole .hole6 .img-area a:nth-of-type(2){
			background-image: url(../images/img-hole6-2.jpg);
			}
	#hole .slide-hole .hole7 .upper-area{
		background-image: url(../images/bg-holes-main-h7.jpg);
		}
		#hole .slide-hole .hole7 .img-area a:nth-of-type(1){
			background-image: url(../images/img-hole7-1.jpg);
			}
		#hole .slide-hole .hole7 .img-area a:nth-of-type(2){
			background-image: url(../images/img-hole7-2.jpg);
			}
	#hole .slide-hole .hole8 .upper-area{
		background-image: url(../images/bg-holes-main-h8.jpg);
		}
		#hole .slide-hole .hole8 .img-area a:nth-of-type(1){
			background-image: url(../images/img-hole8-1.jpg);
			}
		#hole .slide-hole .hole8 .img-area a:nth-of-type(2){
			background-image: url(../images/img-hole8-2.jpg);
			}
	#hole .slide-hole .hole9 .upper-area{
		background-image: url(../images/bg-holes-main-h9.jpg);
		}
		#hole .slide-hole .hole9 .img-area a:nth-of-type(1){
			background-image: url(../images/img-hole9-1.jpg);
			}
		#hole .slide-hole .hole9 .img-area a:nth-of-type(2){
			background-image: url(../images/img-hole9-2.jpg);
			}

	#hole .slide-hole .hole10 .upper-area{
		background-image: url(../images/bg-holes-main-h10.jpg);
		}
		#hole .slide-hole .hole10 .img-area a:nth-of-type(1){
			background-image: url(../images/img-hole10-1.jpg);
			}
		#hole .slide-hole .hole10 .img-area a:nth-of-type(2){
			background-image: url(../images/img-hole10-2.jpg);
			}
	#hole .slide-hole .hole11 .upper-area{
		background-image: url(../images/bg-holes-main-h11.jpg);
		}
		#hole .slide-hole .hole11 .img-area a:nth-of-type(1){
			background-image: url(../images/img-hole11-1.jpg);
			}
		#hole .slide-hole .hole11 .img-area a:nth-of-type(2){
			background-image: url(../images/img-hole11-2.jpg);
			}
	#hole .slide-hole .hole12 .upper-area{
		background-image: url(../images/bg-holes-main-h12.jpg);
		}
		#hole .slide-hole .hole12 .img-area a:nth-of-type(1){
			background-image: url(../images/img-hole12-1.jpg);
			}
		#hole .slide-hole .hole12 .img-area a:nth-of-type(2){
			background-image: url(../images/img-hole12-2.jpg);
			}
	#hole .slide-hole .hole13 .upper-area{
		background-image: url(../images/bg-holes-main-h13.jpg);
		}
		#hole .slide-hole .hole13 .img-area a:nth-of-type(1){
			background-image: url(../images/img-hole13-1.jpg);
			}
		#hole .slide-hole .hole13 .img-area a:nth-of-type(2){
			background-image: url(../images/img-hole13-2.jpg);
			}
	#hole .slide-hole .hole14 .upper-area{
		background-image: url(../images/bg-holes-main-h14.jpg);
		}
		#hole .slide-hole .hole14 .img-area a:nth-of-type(1){
			background-image: url(../images/img-hole14-1.jpg);
			}
		#hole .slide-hole .hole14 .img-area a:nth-of-type(2){
			background-image: url(../images/img-hole14-2.jpg);
			}
	#hole .slide-hole .hole15 .upper-area{
		background-image: url(../images/bg-holes-main-h15.jpg);
		}
		#hole .slide-hole .hole15 .img-area a:nth-of-type(1){
			background-image: url(../images/img-hole15-1.jpg);
			}
		#hole .slide-hole .hole15 .img-area a:nth-of-type(2){
			background-image: url(../images/img-hole15-2.jpg);
			}
	#hole .slide-hole .hole16 .upper-area{
		background-image: url(../images/bg-holes-main-h16.jpg);
		}
		#hole .slide-hole .hole16 .img-area a:nth-of-type(1){
			background-image: url(../images/img-hole16-1.jpg);
			}
		#hole .slide-hole .hole16 .img-area a:nth-of-type(2){
			background-image: url(../images/img-hole16-2.jpg);
			}
	#hole .slide-hole .hole17 .upper-area{
		background-image: url(../images/bg-holes-main-h17.jpg);
		}
		#hole .slide-hole .hole17 .img-area a:nth-of-type(1){
			background-image: url(../images/img-hole17-1.jpg);
			}
		#hole .slide-hole .hole17 .img-area a:nth-of-type(2){
			background-image: url(../images/img-hole17-2.jpg);
			}
	#hole .slide-hole .hole18 .upper-area{
		background-image: url(../images/bg-holes-main-h18.jpg);
		}
		#hole .slide-hole .hole18 .img-area a:nth-of-type(1){
			background-image: url(../images/img-hole18-1.jpg);
			}
		#hole .slide-hole .hole18 .img-area a:nth-of-type(2){
			background-image: url(../images/img-hole18-2.jpg);
			}


/* ==========================================================================
施設紹介
========================================================================== */
#facility #pagetitle-area{
	background-image: url(../images/bg-facility.jpg);
	margin-bottom: 80px;
	}
	#facility #pagetitle-area .area-inn{
		background-color: rgba(0,0,0,0.4);
		}	

	/*スライド=================================*/
	.p-facilities-slide{
		width:1200px;
		margin:0 auto 200px;
		}
		.p-facilities-slide .slide__inner{
			position:relative;
			width:1200px;
			overflow: hidden;
			}
		.p-facilities-slide .slide__caption{
			position:absolute;
			bottom:15px;
			right:0px;
			width:250px;
			display:block;
			text-align:center;
			background:rgba(0,0,0,0.4);
			line-height:1;
			font-size:18px;
			}
			.p-facilities-slide .slide__caption span{
				color:#fff;
				padding:10px 0;
				display:block;
				font-size:18px;
				}

	/*施設紹介 slick*/
	#facility .p-facilities-slide .slick-dots{
		display:flex;
		align-items: flex-start;
		bottom: -31px;
		}
		.p-facilities-slide .slick-dots li{
			height:120px;
			border-right:solid 3px #222;
			border-top:solid 3px #222;
			border-bottom:solid 3px #222;
			cursor:pointer;
			position:relative;
			margin:0;
			top:95px;
			flex-grow:1;

			/*背景画像*/
			background-size: cover!important;
			background-position: center!important;
			}
			.p-facilities-slide .slick-dots li:first-child{
				border-left:solid 3px #222;
				}
			.p-facilities-slide .slick-dots li:after{
				content:"";
				width:100%;
				height:120px;
				background:rgba(255, 255, 255, 0.8);
				display:block;
				position:absolute;
				top:0;
				left:0;
				opacity:0;
				}

		.p-facilities-slide .slick-dots li img{
			display:none;
			}
			.p-facilities-slide .slick-dots li.slick-active:after{
				opacity:1
				}

		/*サムネール用画像===============================================*/
		/*クラブハウス*/
		#facility #clubhouse .slick-dots li:nth-of-type(1){
			background:url(../images/img-facility-clubhouse1.jpg);
			}
			#facility #clubhouse .slick-dots li:nth-of-type(2){
				background:url(../images/img-facility-clubhouse2.jpg);
				}
			#facility #clubhouse .slick-dots li:nth-of-type(3){
				background:url(../images/img-facility-clubhouse3.jpg);
				}
			#facility #clubhouse .slick-dots li:nth-of-type(4){
				background:url(../images/img-facility-clubhouse4.jpg);
				}

		/*練習場*/
		#facility #practice .slick-dots li:nth-of-type(1){
			background:url(../images/img-facility-practice1.jpg);
			}
			#facility #practice .slick-dots li:nth-of-type(2){
				background:url(../images/img-facility-practice2.jpg);
				}
			/* #facility #practice .slick-dots li:nth-of-type(3){
				background:url(../images/img-facility-practice3.jpg);
				} */
			#facility #practice .slick-dots li:nth-of-type(3){
				background:url(../images/img-facility-practice4.jpg);
				}
			#facility #practice .slick-dots li:nth-of-type(4){
				background:url(../images/img-facility-practice5.jpg);
				}
			#facility #practice .slick-dots li:nth-of-type(5){
				background:url(../images/img-facility-practice6.jpg);
				}
		/*レストラン*/
		#facility #restaurant .slick-dots li:nth-of-type(1){
			background:url(../images/img-facility-restaurant1.jpg);
			}
			#facility #restaurant .slick-dots li:nth-of-type(2){
				background:url(../images/img-facility-restaurant2.jpg);
				}
			#facility #restaurant .slick-dots li:nth-of-type(3){
				background:url(../images/img-facility-restaurant3.jpg);
				}
			#facility #restaurant .slick-dots li:nth-of-type(4){
				background:url(../images/img-facility-restaurant4.jpg);
				}
			#facility #restaurant .slick-dots li:nth-of-type(5){
				background:url(../images/img-facility-restaurant5.jpg);
				}
			#facility #restaurant .slick-dots li:nth-of-type(6){
				background:url(../images/img-facility-restaurant6.jpg);
				}
		
		/*ショップ*/
		#facility #shop .slick-dots li:nth-of-type(1){
			background:url(../images/img-facility-shop1.jpg);
			}
			#facility #shop .slick-dots li:nth-of-type(2){
				background:url(../images/img-facility-shop2.jpg);
				}
			
		/*　浴室*/
		#facility #bathroom .slick-dots li:nth-of-type(1){
			background:url(../images/img-facility-bathroom1.jpg);
			}
			#facility #bathroom .slick-dots li:nth-of-type(2){
				background:url(../images/img-facility-bathroom2.jpg);
				}
			#facility #bathroom .slick-dots li:nth-of-type(3){
				background:url(../images/img-facility-bathroom3.jpg);
				}
			#facility #bathroom .slick-dots li:nth-of-type(4){
				background:url(../images/img-facility-bathroom4.jpg);
				}
	/*テーブル*/
	#facility .table-area{
		width: 1200px;
		margin: 0 auto 80px;
		}
		#facility .title-table{
			width:61.8%;	
			}
			#facility .title-table *{
				font-size: 16px;
				}
			#facility .title-table p{
				color: #999;
				}
		#facility .table-area table{
			width:61.8%;
			}
			#facility .table-area table th{
				width: 180px;
				white-space: nowrap;
				padding-right: 20px;
				}
				
	/*ボタン*/
	#facility #maincontents-area .btn-area{
		width: 400px;
		padding-bottom: 80px;
		}

/* ==========================================================================
用具売店
========================================================================== */
#shop{
	background-color: #eae9e4;
	}
#shop #pagetitle-area{
	background-image: url(../images/bg-shop.jpg);
	width: calc(100vw - 400px);
	height: calc((100vw - 400px) * 0.347);
	min-width: 1200px;
	min-height: 416px;
	}
	#shop #pagetitle-area .area-inn{
		height: calc((100vw - 400px) * 0.347);
		}

	#shop #maincontents-area{
				}
		#shop .sbt-area-c h2{
			font-size: 18px;
			}
			/*その他のみタイトル文字代*/
			#shop #other .sbt-area-c h2{
				font-size: 24px;
				}
		#shop .sbt-area-c div{
			text-align: center;
			padding-bottom: 10px;
			}		
			#shop .sbt-area-c div img{
				width: 400px;
				}

			/*税表記*/
			#shop .txt-tax{
				width: calc(100vw - 400px);
				min-width: 1060px;
				margin: 0 auto 5px;
				text-align: right;
				}
			#shop .list-shop{
				display: flex;
				flex-wrap: wrap;
				width: calc(100vw - 400px);
				min-width: 1060px;
				margin: 0 auto;
				padding-bottom: 50px;
				}
				#shop .list-shop li{
					margin-bottom: 40px;
					min-width: 510px;
					}
					#shop .list-shop li:nth-of-type(2n - 1){
						margin-right: 40px;
						}
				#shop .list-shop img{
					width: calc((100vw - 400px - 40px) / 2);
					min-width: 510px;
					height: auto;
					}
				#shop .list-shop h3{
					text-align: center;
					font-size: 24px;
					line-height: 30px;
					padding: 30px 0 10px;
					}
				#shop .list-shop p{
					text-align: center;
					font-size: 18px;
					width: calc((100vw - 400px - 40px) / 2);
					min-width: 510px;
					}
					#shop .list-shop p:nth-of-type(2){
						text-align: left;
						padding-top: 20px;
						}	
			
			/*画像なし*/
			#shop .list-shop-noimg{
				display: flex;
				flex-wrap: wrap;
				width: calc(100vw - 400px - 2px);
				min-width: 1100px;
				margin: 0 auto;
				padding-bottom: 50px;
				}
				#shop .list-shop-noimg li{
					margin-bottom: 2px;
					margin-right: 2px;
					width: calc((100vw - 400px) / 2  - 2px);
					min-width: 549px;
					background-color: #fff;
					padding-bottom: 30px;
					}
					#shop .list-shop-noimg li:nth-of-type(2n){
						margin-right: 0px;
						}
				#shop .list-shop-noimg h3{
					text-align: center;
					font-size: 18px;
					line-height: 30px;
					padding: 30px 0 10px;
					}
				#shop .list-shop-noimg p{
					text-align: center;
					font-size: 14px;
					}
					#shop .list-shop-noimg p:nth-of-type(2){
						text-align: left;
						padding-top: 20px;
						}		

/* ==========================================================================
レストランページ
========================================================================== */
#restaurant{
	background-color: #eae9e4;
	}
#restaurant #pagetitle-area{
	background-image: url(../images/bg-restaurant.jpg);
	width: calc(100vw - 400px);
	height: calc((100vw - 400px) * 0.347);
	min-width: 1200px;
	min-height: 416px;
	}
	#restaurant #pagetitle-area .area-inn{
		height: calc((100vw - 400px) * 0.347);
		}

	#restaurant #maincontents-area{
				}		
			/*税表記*/
			#restaurant #seasonal-menu .txt-tax{
				width: calc(100vw - 400px);
				min-width: 1060px;
				margin: 0 auto 5px;
				text-align: right;
				}
			#restaurant #seasonal-menu .list-seasonalmenu{
				display: flex;
				flex-wrap: wrap;
				width: calc(100vw - 400px);
				min-width: 1060px;
				margin: 0 auto;
				padding-bottom: 50px;
				}
				#restaurant #seasonal-menu .list-seasonalmenu li{
					margin-bottom: 40px;
					min-width: 510px;
					}
					#restaurant #seasonal-menu .list-seasonalmenu li:nth-of-type(2n - 1){
						margin-right: 40px;
						}
				#restaurant #seasonal-menu .list-seasonalmenu img{
					width: calc((100vw - 400px - 40px) / 2);
					min-width: 510px;
					height: auto;
					}
				#restaurant #seasonal-menu .list-seasonalmenu h3{
					text-align: center;
					font-size: 24px;
					line-height: 30px;
					padding: 30px 0 10px;
					}
				#restaurant #seasonal-menu .list-seasonalmenu p{
					text-align: center;
					font-size: 18px;
					width: calc((100vw - 400px - 40px) / 2);
					min-width: 510px;
					}
					#restaurant #seasonal-menu .list-seasonalmenu p:nth-of-type(2){
						text-align: left;
						padding-top: 20px;
						}
			
		/*pdfメニュー=======================*/
		#restaurant #pdf-menu{
			width: calc(100vw - 400px);
			min-width: 1060px;
			background-color: #fff;
			margin: 0 auto;
			padding: 50px 0;
			overflow: hidden;
			}
			/*pdfリンクボタン*/
			#restaurant .list-menubtn{
				display: flex;
				flex-wrap: wrap;
				margin: 0 auto;
				width: 800px;
				}
				#restaurant .list-menubtn a{
					display: block;
					width: 394px;
					height: 260px;
					margin: 0 3px 6px;
					position: relative;
					background-size: cover;
					}
					#restaurant .list-menubtn a.btn-breakfast{
						background-image: url(../images/img-btn-breakfast.jpg);
						}
						#restaurant .list-menubtn a.btn-lunch{
							background-image: url(../images/img-btn-lunch.jpg);
							}
						#restaurant .list-menubtn a.btn-otsumami{
							background-image: url(../images/img-btn-otsumami.jpg);
							}
						
						#restaurant .list-menubtn a.btn-bottle{
							background-image: url(../images/img-btn-bottle.jpg);
							}
						#restaurant .list-menubtn a.btn-dessert{
							background-image: url(../images/img-btn-dessert.jpg);
							}
						#restaurant .list-menubtn a.btn-drink{
							background-image: url(../images/img-btn-drink.jpg);
							}
						#restaurant .list-menubtn a.btn-party{
							background-image: url(../images/img-btn-party.jpg);
							}
						#restaurant .list-menubtn a.btn-takeout{
							background-image: url(../images/img-btn-takeout.jpg);
							}
					/*フェアメニューは全幅*/
					#restaurant .list-menubtn a.btn-fair{
						width: 794px;
						background-size: cover;
						}
						#restaurant .list-menubtn a.btn-fair div{
							width: 794px;
							}

					#restaurant .list-menubtn a div{
						background-color: rgba(0, 0, 0, 0.4);
						width: 394px;
						height: 260px;
						transition: 0.5s;
						}
						#restaurant .list-menubtn a:hover div{
							background-color: rgba(0, 0, 0, 0.1);
							transition: 0.5s;
							}
					#restaurant .list-menubtn a h3{
						position: absolute;
						right: 15px;
						bottom: 15px;
						font-size: 24px;
						color: #fff;
						}
				#restaurant .list-thumbnail ul{
					margin: 0 auto;
					width: 800px;
					display: flex;
					padding-top: 30px;
					}

				/*サムネールボタン*/
				#restaurant li.btn-area{
					margin-right: 50px;
					}
				/*次ボタンカスタム*/
				#restaurant .swiper-button-prev,
				#restaurant .swiper-container-rtl .swiper-button-next {
					top: 170vh !important;
					}
					#restaurant .swiper-button-next,
					#restaurant .swiper-container-rtl .swiper-button-prev {
						top: 170vh !important;
						}

/* ==========================================================================
ご利用案内
========================================================================== */
#guide #pagetitle-area{
	background-image: url(../images/bg-guide.jpg);
	margin-bottom: 80px;
	}
	/*予約案内*/
	#guide .reserve-area .bgwhite-area{
		margin-bottom: 30px;
		}
		#guide .reserve-area .bgwhite-area p{
			text-align: center;
			}
			#guide .reserve-area .bgwhite-area p:nth-of-type(1){
				font-size: 24px;
				}
			#guide .reserve-area .bgwhite-area p:nth-of-type(2){
				font-size: 16px;
				color: #999;
				}
			#guide .reserve-area .btn-area{
				width: 400px;
				padding-top: 20px;
				}
		#guide .reserve-area .list-atten{
			padding-bottom: 80px;
			}


	#guide .reserve-area tbody th{
		width: 150px;
		}
		#guide .reserve-area td:nth-of-type(1),
		#guide .reserve-area td:nth-last-of-type(1),
		#guide .reserve-area td:nth-last-of-type(2){
			text-align: center;
			width: 120px;
			}
	

	/*料金票*/
	#guide .fee-area .title-table{
		width: 1050px;
		}
		#guide .fee-area table{
			width: 1050px;
			}
			#guide .fee-area table tbody td:nth-last-of-type(2){
				text-align: center;
				}
			#feguidee .fee-area table tbody td:last-child{
				background-color: #e2e2e2;
				color: #335f8e;
				text-align: center;
				}
		#guide .fee-area .list-atten{
			padding-bottom: 80px;
			}

	/*支払い方法*/
	#guide .payment-area table{
		width: 100%;
		margin-bottom: 80px;
		}

/* ==========================================================================
ドレスコード
========================================================================== */
#dresscode #pagetitle-area{
	background-image: url(../images/bg-dresscode.jpg);
	margin-bottom: 80px;
	}
	#dresscode .ill-area{
		width: 800px;
		margin: 0 auto;
		}
		#dresscode .ill-area img{
			width: 800px;
			margin-bottom: 20px;
			}
		#dresscode .ill-area .btn-area{
			width: 400px;
			}

/* ==========================================================================
アクセス
========================================================================== */
#access #pagetitle-area{
	background-image: url(../images/bg-access.jpg);
	}
	/*Google Map*/
	#access iframe{
		margin: 0 0 50px;
		height: 450px;
		}

	/*車地図*/
	#access .ill-carmap-area{
		display: flex;
		padding-bottom: 80px;
		}
		#access .ill-carmap-area .left-area{
			padding-right: 50px;
			}
			#access .ill-carmap-area img{
				min-width: 650px;
				width: calc((100vw - 400px) / 2);
				height: auto;
				}
		#access .ill-carmap-area .right-area table{
			margin-bottom: 30px;
			}
			#access .ill-carmap-area .right-area table th{
				width: 170px;
				}

	/*駅*/
	#access .seiseki-st-area{
		display: flex;
		width: 800px;
		padding-bottom: 50px;
		align-items: center;
		}
		#access .seiseki-st-area .btn-area{
			padding-top: 0;
			}
			#access .seiseki-st-area .btn-area a{
				width: 240px;
				}
	#access .clubbustb-area{
		display: flex;
		}
		#access .clubbustb-area div{
			width: 50%;
			}
			#access .clubbustb-area div:nth-of-type(1){
				padding-right: 10px;
				}
			#access .clubbustb-area div:nth-of-type(2){
				padding-left: 10px;
				}
			#access .clubbustb-area table{
				width: 100%;
				table-layout: fixed;
				margin-top: 5px;
				}
				#access .clubbustb-area table tbody th{
					background-color: #e2e2e2;
					color: #335f8e;
					text-align: center;
					}
				#access .clubbustb-area table td{
					text-align: center;
					}

/* ==========================================================================
利用約款
========================================================================== */
#rules #pagetitle-area{
	background-image: url(../images/bg-rules.jpg);
	margin-bottom: 80px;
	}
	#rules dl dt,
	#rules dl h4{
		font-weight: 600;
		}
		#rules dl dd{
			padding-bottom: 30px;
			}
		#rules dl dd li{
			font-size: 18px;
			}

/* ==========================================================================
お知らせ一覧
========================================================================== */
#news #pagetitle-area,
.single-page #pagetitle-area{
	background-image: url(../images/bg-news.jpg);
	background-position: bottom center;
	margin-bottom: 80px;
	}
	#news .contents-area{
		display: flex;
		}
		#news .contents-area ul{
			flex-grow: 1;
			margin-right: 50px;
			}
		#news .contents-area .archive-area{
			width: 200px;
			}
			#news .contents-area .archive-area h3{
				padding-bottom: 10px;
				}
			#news .contents-area .archive-area ul{
				margin-right: 0;
				}
			#news .contents-area .archive-area li a{
				background-color: #335f8e ;
				color: #fff;
				text-align: center;
				text-decoration: none;
				display: block;
				margin-bottom: 5px;
				line-height: 30px;
				}
				#news .contents-area .archive-area li a:hover{
					opacity: 0.7;
					}


/* ==========================================================================
オープンコンペ一覧
========================================================================== */
#opencompe #pagetitle-area{
	background-image: url(../images/bg-opencompe.jpg);
	background-position: bottom center;
	margin-bottom: 80px;
	}

/* ==========================================================================
single
========================================================================== */
	.single-page .txt-area{
		margin:30px auto 0;
		max-width:1024px;
		padding-bottom: 50px;		
		}
		.single-page .txt-area *{
			}
		.single-page .img-area{
			padding-bottom: 30px;
			text-align: center;
			}
			.single-page .img-area img{
				max-width:1024px;
				width: 100%;
				height: auto;
				margin: 0 auto;
				}
		.single-page #maincontents-area .btn-area{
			max-width:800px;
			width: 100%;
			padding-bottom: 80px;
			}
			.single-page .btn-area a{
				text-decoration: none;
				}
		.single-page img{
			max-width: 1024px;
			height: auto
			}
	
	/* 入力文字対策＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
	.single-page a{
		text-decoration: underline;
		}
		.single-page a:hover{
			}
		.single-page strong{
			font-weight: 600 !important;
			}
		.single-page em,
		.single-page del,
		.single-page ins,
		.single-page li,
		.single-page span{
			font-size:16px;
			font-weight:500;
			}

		.single-page ol{
			padding-left: 30px !important;
			}
			.single-page ol li{
				display: list-item !important;
				list-style-type: decimal !important;
				padding: 0 0 10px;
				font-size:16px;
				}

/***********************************************
エラーページ
***********************************************/
#errorpage #pagetitle-area{
	background-image: url(../images/bg-news.jpg);
	background-position: bottom center;
	}
	#errorpage #maincontents-area .area-inn{
		padding: 100px 0 50px;
		}
		#errorpage #maincontents-area .area-inn p{
			font-size: 18px;
			width: 800px;
			margin:  0 auto 30px; 
			}
			#errorpage #maincontents-area .area-inn p:nth-of-type(3){
				margin-bottom: 80px;
				}	

